h1,h4{
    background-color: red;
}

.nayana{
    background-color: blue;
}
.vijay{
    background-color: yellow;
}
.rajni{
    background-color: goldenrod;
}
.sharuk{
    background-color: greenyellow;
}


#abc{
background-color: aqua;
}